@import url("https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Zilla+Slab&display=swap");

:root {
  --base-color: #344e41;
  --sub-base-color: #588157;
  --sub-color: #a3b18a;
  --text-color: #dad7cd;
  --base-p-fs: calc(1rem + 1vw);
  --base-header-fs: calc(1.1rem + 1.2vw);
  --app-h2-fs: calc(0.6rem + 0.6vw);
  --logo-width: max(35px, 30%);
  --base-header-ff: "Gloock", sans-serif;
  --base-paragraph-ff: "Nanum Myeongjo", sans-serif;
  --base-margin: 0.2em 0.6em;
  --base-padding: 0.4em 0.6em;
  --box-shadow: 5px 10px 30px black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

#hero-section {
  height: 100vh;
  /* background: url(/src/Assets/lioness.jpg) no-repeat center center/cover; */
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  transition: background-image 700ms ease-in-out;
}

/* Hero images url's */
.lioness-src {
  background: url(/src/Assets/lioness.jpg) no-repeat center center/cover;
}

.bear-src {
  background: url(/src/Assets/bear.jpg);
}

.deer-src {
  background: url(/src/Assets/deer.jpg);
}

.elephant-src {
  background: url(/src/Assets/elephant.jpg);
}

.zebra-src {
  background: url(/src/Assets/zebra.jpg);
}

nav {
  height: 8%;
  display: flex;
  justify-content: space-between;
}

.left-nav {
  width: 25%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  justify-items: center;
  margin: var(--base-margin);
}

.logo {
  width: var(--logo-width);
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(51deg)
    brightness(107%) contrast(101%);
}

.logo-name {
  font-family: var(--base-header-ff);
  font-size: calc(1rem + 0.8vw);
  letter-spacing: 1px;
  color: var(--base-color);
  /* color: #fff; */
  justify-self: start;
}

.right-nav {
  display: grid;
  justify-items: center;
  align-items: center;
  margin: var(--base-margin);
}

.hamburger-btn {
  width: 35px;
  height: 35px;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
}

.hamburger-btn .bar,
.hamburger-btn::before,
.hamburger-btn::after {
  content: "";
  display: block;
  width: 100%;
  height: 5px;
  /* background-color: var(--sub-color); */
  background-color: #fff;
  margin: 0.3em 0em;
  transition: 0.5s;
}

.nav-container {
  position: absolute;
  left: 100%;
  top: 6.5%;
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  justify-items: center;
  padding: 0.9em 0.4em;
  background-color: var(--base-color);
  height: 35%;
  width: 20%;
  transition: 600ms ease-in-out;
}

.active-nav-container {
  transform: translateX(-100%);
  grid-template-rows: repeat(5, 1fr);
  gap: 10px;
  /* right: 0; */
}

.nav-container a {
  text-decoration: none;
  /* color: var(--sub-color); */
  color: #fff;
  margin: var(--base-margin);
  font-size: calc(0.8rem + 0.8vw);
  width: 100%;
  text-align: center;
}

.nav-container a:hover {
  background-color: var(--sub-base-color);
}

/* javascript activation code */
.active-menu::before {
  transform: rotate(-45deg) translate(-6px, 6px);
}

.active-menu .bar {
  opacity: 0;
}

.active-menu::after {
  transform: rotate(45deg) translate(-7px, -7px);
}

.previous-img-btn {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  /* margin: var(--base-margin); */
  display: grid;
  justify-items: center;
  width: 3%;
  cursor: pointer;
}

.next-img-btn {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  /* margin: var(--base-margin); */
  display: grid;
  justify-items: center;
  width: 3%;
  cursor: pointer;
}

.previous-icon,
.next-icon {
  width: max(40px, 70%);
  filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(51deg)
    brightness(107%) contrast(101%);
}

.previous-icon:hover,
.next-icon:hover {
  scale: 1.6;
  transition: 300ms;
}

.position-btn-container {
  /* border: 5px solid var(--base-color); */
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 20%;
  height: 3%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.position-btn-1,
.position-btn-2,
.position-btn-3,
.position-btn-4,
.position-btn-5 {
  height: 20px;
  width: 20px;
  border-radius: 75%;
  border: none;
  cursor: pointer;
  transition: background-color 400ms ease-in-out;
}

.position-btn-1:hover,
.position-btn-2:hover,
.position-btn-3:hover,
.position-btn-4:hover,
.position-btn-5:hover {
  scale: 1.2;
}

.active-position-btn {
  background-color: var(--sub-base-color);
}
